/*--------------------------------------------------- Header ---------------------------------------------------------*/
.headers {
    background: #282828;
}

.logo {
    width: 8%;
}

.hr {
    margin: 0;
    color: black;
}
