* {
    font-family: 'Space Mono', monospace;
}

.admin_header {
    background-color: #282828;
}

.logo {
    max-width: 100px;
}

.hamburger {
    display: none;
}

.header_profile_img {
    max-width: 50px;
    border-radius: 30px;
}

@media only screen and (max-width: 775px) {
    .admin_header {
        display: flex;
    }

    .nav-menu {
        display: none !important;
    }

    .hamburger {
        display: block;
        font-size: 2rem;
    }

    .responsive-profile-image {
        display: block !important;
    }
}
