*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

.main-home{
    background-image: url("../images/background_home.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.filter{
    position: fixed;
    background-color: rgba(0,0,0,.7);
}

.main-home .unregistered-panel, .top-panel, .fav-panel{
    background-color: #3500D3;
    border: 5px solid white;
    border-radius: 2rem;
}

.main-home .unregistered-panel .button-home-unregistered {
    background-color: #fff;
    color: #000;
    font-weight: bold;
    border: 2px solid #000;
    border-radius: 5px;
    padding: .5rem;
    -webkit-box-shadow: 0px 5px 10px 1px #000000;
    box-shadow: 0px 5px 10px 1px #000000;
}

.main-home .unregistered-panel .button-home-unregistered:hover{
    background-color: #cbd5e0;
}

h3, h4, p{
    color: #fff;
}

h3{
    font-size: 2rem;
}

.logo{
    width: 75px;
    height: 75px;
}


