body {
    background: #282828;
}

.jumbotron {
    text-align: center;
    width: 30rem;
    border-radius: 0.5rem;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    margin: 4rem auto;
    background-color: #282828;
    padding: 2rem;
}

.container .glyphicon-list-alt {
    font-size: 10rem;
    margin-top: 3rem;
    color: #f96145;
}

input {
    width: 120%;
    margin-bottom: 1.4rem;
    padding: 0.8rem;
    background-color: #464646;
    border-radius: 0.2rem;
    border: none;
    margin-left: -10%;
    color: #ffffff;
}

h2 {
    margin-bottom: 3rem;
    font-weight: bold;
    color: #ababab;
}

.btn {
    border-radius: 0.2rem;
}

.btn .glyphicon {
    font-size: 3rem;
    color: #fff;
}

.full-width {
    background-color: #3500D3;
    width: 75%;
    color: #ffffff;
    border: 1px solid white;
    font-weight:bold;
    font-family: monospace;
}

.login_logo{
    width: 68%;
}

.box {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 11rem;
    margin-left: 3rem;
    margin-right: 3rem;
    color: #3d3d3d;
}


