*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

body{
    background-color: #282828;
}

.main-playlist{
    min-height: 100vh;
}

h2,h3,h4,h4,p,th,td{
    color: #fff;
}

.playlist{
    font-weight: lighter;
}

.playlist-title{
    font-weight: bold;
    font-size: 3rem;
    word-spacing: 1rem;
}

button{
    background: transparent;
    color: #fff;
    border: none;
    padding: 0;
}

.add-song{
    border: 2px solid white;
    border-radius: 1rem;
    padding: .5rem 1.5rem;
}

.follow-button{
    border: 2px solid #3500D3;
    border-radius: 1rem;
    padding: .5rem 1.5rem;
}

.playlist-icon{
    font-size: 24px;
}

@media screen and (max-width: 768px){

    .table-div{
        display: none !important;
    }

    .cards-div{
        display: block !important;
    }

    .playlist-card{
        background: #3500D3;
        border-radius: 1rem;
        margin: .75rem 0;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    .playlist-card>div{
        padding: .75rem;
    }

    .card-delete{
        border-left: 2px solid white;
        border-bottom-right-radius: 1rem;
        border-top-right-radius: 1rem;
        background: #2b01a5;
    }
}

