/*--------------------------------------------------- Content --------------------------------------------------------*/

/*----------------------------------- Users - Browser - Add User Subheader Section -------------------*/
.title {
    margin-left: 4rem;
}
.subheaders_section {
    background-color: #282828;
    padding-top: 4rem;
}

.icono {
    font-size: 3rem;
    margin-right: 2rem;
}
/*----------------------------------- Users Section -------------------------------------------------*/
.songs_section {
    background-color: #282828;
    padding: 4rem;
}

.song_div {
    margin-bottom: 4rem;
}

.song_img {
    width: 200px;
}

.action-icon {
    font-size: 2rem;
}

.song_text_div {
    margin-left: 4rem;
}
